:root {
    --dark1: #1c1c1c;
    --dark2: #222;
    --dark3: #2f2f2f;
    --accent1: #db6400;
    --accent2: #ffa62b;
    --light1: #f8f1f1;
}

@font-face {
    font-family: "RobotoC";
    src: url("fonts/RobotoCondensed-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "RobotoC";
    src: url("fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: "RobotoC";
    src: url("fonts/RobotoCondensed-Light.ttf");
    font-weight: 300;
}

body {
    background-color: var(--dark1);
    margin: 0;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
}

h2 {
    font: bold 24px/32px RobotoC;
    margin: 32px;
    color: #fff;
}

.clients {
    padding: 0 16px 16px 16px;
    width: 100%;
    box-sizing: border-box;
    max-height: 100%;
}

.client {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 32px);
    margin: 0 16px 16px 16px;
}

.client video {
    vertical-align: top;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    outline: none;
    background: #444;
    height: 100%;
}

.controlbox {
    background: var(--dark3);
    box-sizing: border-box;
}

.controlbox button {
    display: inline-block;
    padding: 0;
    padding: 16px;
    background: none;
    border: none;
    outline: none;
}

.controlbox button:hover {
    background: var(--dark3);
}

.controlbox img {
    display: inline-block;
    vertical-align: top;
}

input[type='range'] {
    overflow: hidden;
    width: 120px;
    -webkit-appearance: none;
    background-color: var(--dark2);
    outline: none;
    margin: 23px 0;
    vertical-align: top;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 16px;
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    width: 16px;
    -webkit-appearance: none;
    height: 16px;
    cursor: ew-resize;
    background: var(--accent2);
    box-shadow: -120px 0 0 120px var(--accent2);
}

input[type='range']::-webkit-slider-thumb:hover {
    background: var(--accent1);
}

.sidebar {
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    background: var(--dark2);
    display: flex;
    flex-direction: column;
}

.middlebox {
    flex: 1;
}

.rightbox {
    width: 25%;
}

.sidebar .textchat {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.sidebar .chat-bottom {
    display: flex;
    background: var(--dark3);
}

.sidebar textarea {
    width: 100%;
    padding: 0;
    border: 0;
    outline: none;
    resize: none;
    display: block;
    padding: 16px;
    font: 16px/24px RobotoC;
    color: #fff;
    box-sizing: border-box;
    background: transparent;
}

.sidebar .chat {
    flex: 1;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color3);
    padding: 0 32px;
}

.sidebar .send {
    border: none;
    background-color: var(--accent2);
    border-radius: 0;
    font: 16px/24px RobotoC;
    display: block;
    outline: none;
    padding: 16px;
    box-sizing: border-box;
    color: var(--dark1);
}

.sidebar .send:hover {
    background: var(--accent1);
}

.client-header {
    background: var(--dark3);
    padding: 8px 16px;
}

.client-header h4 {
    font: 16px/24px RobotoC;
    color: #fff;
    margin: 0;
}