body {
    background-color: #555;
    margin: 0;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
}

.clients {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    max-height: 100%;
}

.client {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 8px;
}

.client video {
    vertical-align: top;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    outline: none;
    border-radius: 8px 8px 0 0;
    background: #444;
    height: 100%;
}

.client .controlbox {
    padding: 8px;
    background: #444;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    height: 48px;
}

input[type='range'] {
    overflow: hidden;
    width: 120px;
    -webkit-appearance: none;
    background-color: #333;
    outline: none;
    vertical-align: middle;
    margin: 8px;
    vertical-align: top;
    position: relative;
}

input[type='range']::before {
    content: "Volume";
    position: absolute;
    left: 3px;
    top: 1px;
    font: bold 14px/14px Arial;
    color: #777;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 16px;
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    width: 16px;
    -webkit-appearance: none;
    height: 16px;
    cursor: ew-resize;
    background: #777;
    box-shadow: -120px 0 0 120px #666;
}

.sidebar {
    height: 100%;
    width: 20%;
    padding: 16px 0 16px 16px;
    box-sizing: border-box;
}

.sidebar .textchat {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.sidebar textarea {
    width: 100%;
    padding: 0;
    border: 0;
    outline: none;
    resize: none;
    display: block;
    background: #444;
    padding: 16px;
    font: bold 14px/18px Arial;
    color: #fff;
    box-sizing: border-box;
}

.sidebar .chat {
    flex: 1;
    border-radius: 8px 8px 0 0;
}

.sidebar .message {
    height: 10vh;
    margin-top: 16px;
}

.sidebar .send {
    border: none;
    background-color: #444;
    border-radius: 0 0 8px 8px;
    font: bold 14px/18px Arial;
    display: block;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    color: #fff;
}

.sidebar .send:hover {
    background: #333;
}

.sidebar .send:active {
    background: #222;
}